# Node Version
NODE_VERSION=24.14.0 # for deploying on render

# API Configuration
VITE_API_URL=http://localhost:3000

# Feature Flags
VITE_ALLOW_UPGRADES=true # true|false


# create .env or .env.local for local developement
