# Bun Version
BUN_VERSION=1.3.14 # for deploying on render

# API Configuration
# Leave VITE_API_URL commented out to enable the Vite Proxy (Recommended for Dev)
# VITE_API_URL=http://localhost:3000
VITE_ENCRYPTION_KEY=your_encryption_key_here

# Feature Flags
VITE_ALLOW_UPGRADES=true # true|false
VITE_SHOW_ENGAGING_LOADER=false
VITE_PROXY_TARGET=http://localhost:3000

VITE_SHOW_DEBUG_SETTINGS=false

# create .env or .env.local for local developement
